.testimonial {
    padding: 100px 0;
    text-align: center;
}

.testimonial__row {
    padding-bottom: 60px;
}

.testimonial__row h2 {
    color: #0D0802;
    width: 100%;
    font-size: 66px;
    line-height: 83px;
}

.testimonial__title {
    font-size: 66px;
    font-weight: 500;
    line-height: 83px;
    color: #0D0802;
    margin: 0;
}

.testimonial__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #FCC200;
    margin: 0;
}

.testimonial__content {
    padding: 60px 149px 93px 149px;
    background: #0D08020A;
    border: 1px solid #FCC200;
    margin-bottom: 40px;
}

.paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #0D0802;
    margin: 0;
}

.review img {
    padding-top: 24px;
}

.person__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    gap: 10px;
}

.person__name {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #000000;
    margin: 0;
}

/* responsive */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .section__title h2 {
        font-size: 45px;
        line-height: 65px;
    }

    .testimonial__content {
        padding: 35px;
    }
}

@media only screen and (max-width: 767px) {
    p.paragraph {
        font-size: 16px;
        line-height: 33px;
    }

    .section__title h2 {
        font-size: 45px;
        line-height: 65px;
    }

    .testimonial__content {
        padding: 25px;
    }
}

@media only screen and (max-width: 575px) {
    .section__title h2 {
        font-size: 30px;
        line-height: 50px;
    }

    .section__subtitle h3 {
        font-size: 16px;
        line-height: 22px;
    }
}

/*
-----------------------------Desktop----------------------------- 
@media only screen and (min-width: 1441px) {}

@media only screen and (max-width: 1440px) {}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (min-width: 1199px) and (max-width: 1025px) {}

@media only screen and (min-width: 1025px) {}


-----------------------------Tablet----------------------------- 
@media only screen and (max-width: 1024px) {}

@media only screen and (min-width: 992px) and (max-width: 1024px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 768px) {}

-----------------------------Mobile----------------------------- 
@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 575px) {}

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 375px) {}

*/