.testimonial {
    text-align: center;
    padding: 100px 0;
}

.testimonial__row {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 60px 20px;
}

.testimonial__row h2 {
    color: #0D0802;
    width: 100%;
    font-size: 66px;
    line-height: 83px;
}

.testimonial__main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.testimonial__box {
    background: #0D08020A;
    max-width: 1070px;
    border: 1px solid #FCC200;
    padding: 60px 149px 93px 149px;
    margin: 0 40px;
}

p.content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #0D0802;
    padding-bottom: 24px;
}

.testimonial__review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-bottom: 36px;
}

.person__image img {
    border-radius: 50%;
}

.tesimonial__image_data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    top: initial;
    bottom: .75rem;
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    padding: 4px;
    border-radius: 50%;
    font-size: 1.8rem;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
    transition: background .4s;
}

.swiper-button-prev {
    left: calc(50% - 3rem);
}

.swiper-button-next {
    right: calc(50% - 3rem);
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    .testimonial__row {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .testimonial__box {
        width: 900px !important;
        margin: 0 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial__box {
        padding: 60px 100px 93px 100px;
        max-width: 600px;
        margin: 0 100px;
    }

    .section__title h2 {
        font-size: 45px;
        line-height: 65px;
    }
}

@media only screen and (max-width: 767px) {
    .testimonial__box {
        padding: 50px 80px 63px 80px;
        max-width: 500px;
        margin: 0 80px;
    }

    p.content__text {
        font-size: 16px;
        line-height: 33px;
    }

    .section__title h2 {
        font-size: 45px;
        line-height: 65px;
    }
}

@media only screen and (max-width: 575px) {
    .section__title h2 {
        font-size: 30px;
        line-height: 50px;
    }

    .section__subtitle h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .testimonial__main-box {
        padding-bottom: 40px;
    }

    .testimonial__box {
        padding: 20px;
        margin: 0;
    }
}

/*
-----------------------------Desktop----------------------------- 
@media only screen and (min-width: 1441px) {}

@media only screen and (max-width: 1440px) {}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (min-width: 1199px) and (max-width: 1025px) {}

@media only screen and (min-width: 1025px) {}


-----------------------------Tablet----------------------------- 
@media only screen and (max-width: 1024px) {}

@media only screen and (min-width: 992px) and (max-width: 1024px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 768px) {}

-----------------------------Mobile----------------------------- 
@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 575px) {}

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 375px) {}

*/